/**estilo de dialogos*/
body {
}
.no-close .ui-dialog-titlebar-close {
  
}
#SemillaEmpleada {
}
#SemillaEmpleada div.cantidades, #plantasPorHa div.cantidades {
    text-align: right;
}
#SemillaEmpleada div label, #plantasPorHa div label, #agregarCultivo div label {
    width: 10em;
    float: left;
    clear: left;
}
#SemillaEmpleada div input.number, #plantasPorHa div input.number,  #semillaNeta div input.number{
    border: 1px solid #cecece;
    float: left;
    margin-bottom: 1.5em;
    margin-left: 5px;
    text-align: right;
    width: 60px;
}
#calcularMaiz div input.number, #calcularSoya div input.number,  #calcularTrigoCebada div input.number,#calcularPapa div input.number{
    border: 1px solid #cecece;
    float: left;
    margin-bottom: 1.5em;
    margin-left: 5px;
    text-align: right;
    width: 60px;
}
#plantasPorHa div input.total {
    background-color: #ffc7a0;
    border: 1px solid #efa169;
    color: #6d6864;
    float: left;
    font-weight: bolder;
    margin-bottom: 1.5em;
    margin-left: 5px;
    text-align: right;
    width: 60px;
}
#agregarCultivo div input {
    border: 1px solid #cecece;
    color: #949494;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    float: left;
    margin-bottom: 1.5em;
    margin-left: 5px;
    padding: 4px;
    width: 125px;
}
#agregarCultivo div span {
    color: red;
    float: right;
    font-size: smaller;
    font-weight: bolder;
    left: 4%;
    margin-top: 5%;
    position: absolute;
    right: 50%;
    top: 50%;
    width: 260px;
}

#agregarVariedad div input {
    border: 1px solid #cecece;
    color: #949494;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    float: left;
    margin-bottom: 1.5em;
    margin-left: 5px;
    padding: 4px;
    text-transform: capitalize;
    width: 125px;
}
#agregarVariedad div span {
    color: red;
    float: right;
    font-size: smaller;
    font-weight: bolder;
    left: 4%;
    position: absolute;
    right: 50%;
    top: 50%;
    width: 261px;
}

#agregarSemillera div input {
    border: 1px solid #cecece;
    color: #949494;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    float: left;
    left: 5px;
    margin-left: 61px;
    padding: 4px;
    position: absolute;
    width: 205px;
}

#agregarSemillera div span {
    font-style: italic;
    font-weight: bold;
    position: absolute;
    top: 68%;
}
#seleccionarSolicitud>div#calendar>div.body>div.no-solicitud{
    float: left;
    padding-top: 1%;
    width: 10em;
}
#seleccionarSolicitud>div#calendar>div.body>div.comunidadFiscal{
    float: left;
    padding-top: 1%;
    width: 20.5%;
}
#seleccionarSolicitud>div#calendar>div.body>div.semillerista{
    float: left;
    margin-left: 15%;
    padding-top: 1%;
}
#seleccionarSolicitud>div#calendar>div.body>div.seleccion{
    float: left;
    margin-left: 21%;
    padding-top: 1%;
    width: 6%;
}
/** no edit*/
#SemillaEmpleada div input.no-edit {
    border-color: #FAFFEE;
}
#plantasPorHa div input.no-edit {
    border-color: #FAFFEE;
}

/** dialogo de registro*/
#regCertifica>#tabs>ul>li>a.text-color,#regFiscaliza>#tabs>ul>li>a.text-color{
    color: #808080;
}   
#regCertifica>#tabs>ul>li>a:hover.text-color,#regCertifica>#tabs>ul>li>a:hover.text-color{
    color: #FFFFFF;
}  
