/*Meneame*/
/*http://mis-algoritmos.com/some-styles-for-your-pagination*/
ul.pagination {
	display: inline-block;
	padding: 0;
	margin: 0;
}
ul.pagination li {
	display: inline;
}
ul.pagination li a {
	background-color: #55a54b;
    color: #fff;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease 0s;
}
ul.pagination li a.active {
	background: #bdffab none repeat scroll 0 0 !important;
	background-color: #4CAF50;
	color: #15a801;
	border: 1px solid #ccf !important;
}
ul.pagination li a:hover:not(.active) {
	background-color: #ddd;
}
div.meneame {
	padding: 3px;
	margin: 3px;
	color: #ff6500;
	font-size: 80%;
	text-align: center;
}

div.meneame a {
	border: 1px solid #76ae0a;
	margin-right: 3px;
	padding: 5px 7px;
	background-image: url(images/meneame.jpg);
	background-position: bottom;
	text-decoration: none;
	color: #76ae0a;
}

div.meneame a:hover, div.meneame a:active {
	border: 1px solid #86bf18;
	background-image: none;
	background-color: #86bf18;
	color: #61e296;
}

div.meneame a.linkpage {
	border: 1px solid #86bf18;
	background-image: none;
	background-color: #86bf18;
	color: #61e296;
}

div.meneame a.current {
	margin-right: 3px;
	padding: 5px 7px;
	border: 1px solid #86bf18;
	font-weight: bold;
	background-color: #86bf18;
	color: #61e296;
}

div.meneame span.disabled {
	margin-right: 3px;
	padding: 5px 7px;
	border: 1px solid #ffe3c6;
	color: #ffe3c6;
}