.ocupado {
	color: #ff2a00;
    font-weight: bold;
    /*left: 68%;
    position: absolute;
    top: 18%;
    width: 14%;*/
}
.libre {
	color: green;
    font-weight: bold;
    /*left: 68%;
    position: absolute;
    top: 17%;
    width: 10%;*/
}
.aviso{
	font-size: 11px;
    left: 38em;
    position: absolute;
    top: 38.5em;
}
.avisoA{
	font-size: 11px;
    left: 38em;
    position: absolute;
    top: 37em;
}
