/*
 Design by Free CSS Templates
 http://www.freecsstemplates.org
 Released for free under a Creative Commons Attribution 2.5 License
 */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #8A8A8A;
}
.secundario {
    background: none repeat scroll 0 0 #cdf0a6;
}

.principal {
    margin: 0;
    padding: 0;
    background: #faffee url(images/img01.gif) repeat-x left top;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #8A8A8A;
}

input, select, textarea {
    background-color: #faffee;
}
h1, h2, h3 {
    margin: 0;
    text-transform: uppercase;
    font-weight: normal;
    color: #618C04;
}
h1 {
    font-size: 44px;
}
h2 {
    font-size: 18px;
}
h3 {
}
p, ul, ol {
    margin-top: 0;
    line-height: 240%;
    text-align: justify;
}
ul, ol {
}
blockquote {
}
a {
    color: #77B003;
}
a:hover {
    text-decoration: none;
}
a img {
    border: none;
}
img.left {
    float: left;
    margin: 7px 30px 0 0;
}
img.right {
    float: right;
    margin: 7px 0 0 30px;
}
hr {
    border-style: inset;
    border-width: 2px;
    display: block;
    margin-left: -12%;
    margin-right: -4%;
    margin-top: 8%;
    position: relative;
    top: 3px;
}
.list1 {
}
.list1 li {
    float: left;
    line-height: normal;
}
.list1 li img {
    margin: 0 30px 30px 0;
}
.list1 li.alt img {
    margin-right: 0;
}
#wrapper {
}
/*  Botones */
.filter-process: {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.post .entry button.button-primary {
    border: none;
    cursor: pointer;
    font-weight: bolder;
    text-transform: uppercase;
    float: right;
    
}
.post .entry input.button-generar {
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-weight: bolder;
    left: -10%;
    margin-right: 8em;
    text-transform: uppercase;
    width: 80px;
}

/*para graficos */
.post .help{
     color:#55a54b;
     display: none;
     font-size: 10px;
}
.post div.coordenadas {
    border: 2px dotted;
    height: 29em;
    width: 59.1em;
}
.post ul.options {
    width: 180px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.post ul.options li {
    margin: .4em 0;
    width: 20em;
}
.post ul.options li div select {
    width: 65%;
    float: left;
}
.post ul.options li ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.post #ejeX {
    border: 1px solid red;
    float: left;
    margin-left: 4%;
    letter-spacing: 3px;
    text-align: center;
    width: 40em;
}
.post #ejeX div.checkbox {
    position: relative;
    width: 3em;
}
.post #ejeX label {
    float: left;
    width: 20%;
}
.post #ejeX select {
    width: 15em;
    height: 24px;
    display: none;
}

.post #ejeX div.checkbox input {
    position: relative;
    width: 1em;
    float: left;
}

.opcionesgraficas {
    border: 1px solid red;
    float: left;
    height: 15em;
    margin-top: 11px;
    width: 56em;
}

.imagenes div {
    float: left;
    position: relative;
    top: 3em;
}

div#ejeX div {
    margin: 1em 0;
}


.entry .coordenadas .boton input {
    position: absolute;
    right: 25em;
    top: 40em;
}

.opcionesgraficas div#op1 input, .opcionesgraficas div#op2 input, .opcionesgraficas div#op3 input, .opcionesgraficas div#op4 input, .opcionesgraficas div#op5 input {
    width: 3em;
}
.opcionesgraficas div#op1, .opcionesgraficas div#op2, .opcionesgraficas div#op3, .opcionesgraficas div#op4, .opcionesgraficas div#op5 {
    position: absolute;
    top: 80%;
}
.opcionesgraficas div#op1 {
    left: 34%;
}
.opcionesgraficas div#op2 {
    left: 45%;
}
.opcionesgraficas div#op3 {
    left: 60%;
}
.opcionesgraficas div#op4 {
    right: 20%;
}
.opcionesgraficas div#op5 {
    right: 9%;
}

/* Header */

#header-wrapper {
}
#header {
    width: 940px;
    height: 36px;
    margin: 0 auto;
}
/* Menu */

#menu {
    float: left;
    width: 680px;
    height: 43px;
    background: url(../images/img02.gif) no-repeat left top;
}
#menu ul {
    margin: 0;
    padding: 0px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}
#menu li {
    display: block;
    float: left;
}
#menu a {
    display: block;
    float: left;
    height: 30px;
    margin: 0;
    padding: 13px 30px 0px 30px;
    background: url(../images/img02.gif) no-repeat left top;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
}
#menu a:hover {
    text-decoration: none;
}
#menu .current_page_item a {
}
#menu .first {
}
/**  nombre de sistema*/
.sicfis {
    font-size: large;
    color: #CDF0A6;
    margin: 0.8% 0px 0px 10%;
    text-transform: uppercase;
    word-spacing: 0.5em;
}
/** informacion de ubicacion */
.information {
    background-color: #cdf0a6;
    border: 1px solid #96c663;
    float: right;
    margin-left: 20%;
    margin-top: -2%;
    position: absolute;
    width: 64%;
    z-index: -999;
}
.infoFiscal{
    background-color: #cdf0a6;
    border: 1px solid #96c663;
    float: right;
    height: 65px;
    margin-left: 29%;
    margin-top: -2%;
    position: absolute;
    width: 55%;
    z-index: -999;
}

.information .checkSol{
    float: left;
    margin-left: 2%;
    width: 15%;
}
.information .checkSol img{
    width: 60%;
}
.information .checkSem {
    float: left;
    margin-left: -2%;
    width: 15%;
}
.information .checkSem img{
    width: 60%;
}
.information .checkSup  {
    float: left;
    margin-left: -2%;
    width: 15%;
}
.information .checkSup img{
    width: 60%;
}

.information .checkInsp {
    float: left;
    margin-left: -2%;
    width: 15%;
}
.information .checkInsp img {
    width: 60%;
}

.information .checkCos {
    float: left;
    margin-left: -2%;
    width: 15%;
}
.information .checkCos img{
    width: 60%;
}

.information .checkLab {
    float: left;
    margin-left: -2%;
    width: 15%;
}
.information .checkLab img {
    width: 60%;
}

.information .checkProd {
    float: left;
    margin-left: -2%;
    width: 15%;
}
.information .checkProd img{
    width: 60%;
}

.information .checkCta{
    float: left;
    margin-left: -5%;
    width: 9%;
}
.information .checkCta img{
    width: 100%;
}
/***  menu horizontal alfa*/

ul.sub {/**estilo gral del submenu*/
    width: 100px;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #7C7C7C;
    border-bottom: none;
    clear: both;
    float: right;
    display: none;
}
ul.sub li {/**estilo para cada item*/
    border-bottom: 1px solid #7C7C7C;
    border-top: 1px solid #FFF;
    background: #77B003;
    width: 100%;
}
ul.menu li a {/**estilo para los enlaces*/
    padding: .2em 0 .2em .5em;
    display: block;
    text-decoration: none;
    color: #333;
}
#menu li:hover ul {
    background: #FF0000;
    display: block;
}/* ok   para mostrar submenu*/
/* enlaces */
div a.link {
    font-size: small;
    color: #0078AE;
    cursor: pointer;
}
div a:hover.link {
    color: #0078AE;
    text-decoration: underline;
    cursor: pointer;
}
/* Search */

#search {
    float: right;
    width: 260px;
}
#search form {
    float: right;
    margin: 0;
    padding: 11px 0px 0 0;
}
#search fieldset {
    margin: 0;
    padding: 0;
    border: none;
}
#search input {
    float: left;
    font: 12px Georgia, "Times New Roman", Times, serif;
    border: none;
    left: 60em;
    position: absolute;
}
#search-text {
    /*background: none repeat scroll 0 0 #ECF9E4;*/
    border: 1px solid #CECECE;
    color: #949494;
    height: 25px;
    margin-bottom: 2%;
    margin-left: 17%;
    padding: 3px 0 0 5px;
    width: 27em;
}
#search-submit {
    height: 21px;
    margin-left: 10px;
    padding: 0px 5px;
    background: #5AA01B;
    color: #FFFFFF;
    position: absolute;
    left: 69em;
}

/** usuario administracion */
#added.usuario, #del.usuario, #upd.usuario {
    height: 24px;
    width: 24px;
    background-image: url(../images/users_48x48.png);
    background-repeat: no-repeat;
    vertical-align: middle;
}
#added.usuario {
    background-position: 10px -24px;
    position: absolute;
    top: 0.5em;
    width: 3em;
    cursor: pointer;
}
#del.usuario {
    background-position: -24px -24px;
    left: 5em;
    position: absolute;
    top: 0.5em;
    width: 3em;
    cursor: pointer;
}
#upd.usuario {
    background-position: -24px 0px;
    position: absolute;
    top: 0.5em;
    width: 3em;
    cursor: pointer;
}
#restaurar.backup, #eliminar.backup {
    height: 16px;
    width: 16px;
    background-image: url(../images/backup.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    cursor: pointer;
}
#restaurar.backup {
    background-position: 16px 0px;
    position: absolute;
    top: 0.5em;
    width: 3em;
}
#eliminar.backup {
    background-position: 16px -16px;
    position: absolute;
    top: 0.5em;
    width: 3em;
}
/* Usuario sistema*/
#usuario.img, #inicio.img, #sesion.img, #datos.img, #xls.img, #pdf.img, #print.img {
    height: 16px;
    width: 16px;
    background-image: url(images/pixel.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    cursor: pointer;
}
#inicio.img {
    background-position: 18px 1px;
    position: absolute;
    top: 2em;
    width: 3em;
}
#usuario.img {
    background-image: url(images/usuario.png);
    position: absolute;
    top: 2em;
    left: 7em;
    width: 434%;
}
#datos.img {
    background-position: -32px 0;
}
#xls.img {
    background-position: 0 -16px;
    position: relative;
}
#pdf.img {
    background-position: -16px -16px;
    position: relative;
    right: -2em;
    top: -0.3em;
}
#print.img {
    background-position: -33px -16px;
    left: 4em;
    position: relative;
    top: -2.6em;
}
#sesion.img {
    background-position: 0 -32px;
    position: absolute;
    top: 2em;
    left: 17em;
}
#usuario a {
    margin-left: 2em;
}

input.log-user{
    background-color: rgb(255, 255, 255);
    border: medium none #fff;
    border-radius: 5px;
    /*color:#8080 !important;*/
    height: 30px;
}
/* Page */

#page {
    width: 940px;
    margin: 0 auto;
    padding: 70px 0px 0px 0px;
}

div.editar>input.image{
    border: none;
}
/*  label de formularios*/
/** LOGO */
#logo {
    background: url("images/logoPagina.png") no-repeat scroll left top /cover transparent;
    background-size: 95% 95%;
    border: medium none #34ab14;
    height: 13em;
    left: -38%;
    margin: 7% 1% 1% 76%;
    position: relative;
    top: 0;
    width: 26.5%;
}
#logo h1, #logo p {
    margin: 0px;
    line-height: normal;
    text-transform: lowercase;
    font-weight: normal;
    color: #618C04;
}
#logo p {
    margin-top: -4px;
    text-transform: lowercase;
    font-size: 13px;
    color: #A8A8A8;
}
#logo h1 {
    padding-top: 10px;
    font-size: 48px;
}
#logo a {
    text-decoration: none;
    color: #A8A8A8;
}
#logo h1 a {
    text-decoration: none;
    color: #618C04;
}
#banner {
    padding-bottom: 20px;
}
/* Content */

#content {
    float: right;
    margin-left: 1%;
    width: 81%;
}
/* Post */

.post {
    margin-bottom: 45px;
}
.post .title {
    height: 44px;
    margin-top: 6%;
    padding-left: 15px;
}
.post .title a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 30px;
    color: #618C04;
}
.post .date {
}
.post .meta span {
    display: block;
    margin-top: -10px;
}
.post .meta a {
}
.post .entry {

    margin-bottom: 10px;
    margin-left: 9%;
    padding: 10px 70px 10px 15px;
}

.post .entry .resultado {
    width: 58em;
    margin-bottom: 10px;
    margin-left: 9%;
    padding: 10px 70px 10px 15px;
}
.post .links {
    display: block;
    width: 120px;
    height: 20px;
    margin: 0px 0px 0px 0px;
    padding: 4px 0px 0px 40px;
    background: url(../images/img03.gif) no-repeat left top;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
    color: #666666;
}
.post .comments {
    display: block;
    width: 120px;
    height: 18px;
    margin: 0px;
    padding: 3px 0px 0px 40px;
    background: url(images/img07.gif) no-repeat left top;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
    color: #961A06;
}
/* Sidebar */

#sidebar {
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin: -3em 0 0 -8em;
    width: 25%;
}
#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
}
#sidebar li {
    margin-bottom: 30px;
    padding: 0 0 10px 0px;
}
#sidebar li ul {
    margin: 0px 14px;
    width: 95%;
}
#sidebar li li {
    margin: 0 0 0 -2em;
    padding: 12px 0px;
    background: url(../images/menu_right.png) no-repeat left 16px;
    /**width: 10em;*/
}
#sidebar li li.no-title{
    
    margin-left: 0em; 
    margin-right: 2em;
}
#sidebar li li:hover{
    background-color:#55A54B;
    border-radius:19px;
    color: #FFFFFF !important;
}
#sidebar li li a {
    padding: 0px 0px 0px 20px;
    font-weight: normal;
    color: #808080;
}
#sidebar li li a:hover {
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bolder;
}
#sidebar p {
    margin: 0;
    padding: 0px 14px;
}
#sidebar h2 {
    height: 30px;
    margin: 0 0 10px 0px;
    padding: 6px 0 2px 14px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bolder;
    color: #618C04;
}
#sidebar p {
    line-height: 200%;
}
#sidebar a {
    text-align: left;
    text-decoration: none;
    font-weight: bold;
}

/* Formulario de registro */
.post .entry form div {
    margin: 1em 0;
}
.post .entry form div label {
    width: 20%;
    float: left;
    font-weight: bold;
    /*text-transform: capitalize;*/
}
.post .entry div label.datos {
    float: left;
    left: 65px;
    position: relative;
    top: -17px;
    font-weight: lighter;
    width: 120px;
}
.post .entry form#buscar.nuevo a.linkpages {
    cursor: pointer;
}
.post .entry form#buscar.nuevo a.linkpages:hover {
    cursor: pointer;
    text-decoration: underline;
}

.post .entry form div span.required {
    background: url(images/requerido2.png) no-repeat right;
    margin-left: -2%;
}
.post .entry form div label.error {
    color: red;
    float: right;
    font-size: x-small;
    font-weight: bolder;
    margin-left: -11px;
    position: relative;
    right: 5em;
    text-transform: none;
    width: 17em;
}
.post .entry form div input {
    text-transform: capitalize;
}
.post .entry form div input.info {
    border: medium none #FFFFFF;
}
.post .entry form div input.not-edit {
    border-color: #FAFFEE; 
}
.post .entry form div textarea.not-edit {
    border-color: #FAFFEE;
}
.post .entry form div input.show-change {
    background-color: #FFDBDB;
    border-color: #FFDBDB;
    color: #000000;
    text-align: right; 
}
.post .entry form div input.number {
    text-align: right;
}
.post .entry form#actualizacion div input.number, .post .entry form#costo div input.number, .post .entry form#superficie div input.number {
    text-align: right;
    width: 7em;
}

.post .entry form div input.date, .post .entry form div input.genpass {
    text-align: left;
    width: 7em;
}
.post .entry form div input.input-not-edit{
    border-color: #FAFFEE;
}

.post .entry select {
    width: 234px;
    padding: 4px;
    color: #949494;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 1px solid #CECECE;
}
.post .entry input, textArea {
    width: 220px;
    padding: 4px;
    color: #949494;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 1px solid #cecece;
}
.post .entry .permiso {
    border: 1px solid #ffffff;
    color: #949494;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 3px;
}
/*cuadro de dialogo*/
#dialog-message span.meta {
    font-weight: bold;
}
/* Calendar */
#calendar {
}
#calendar caption {
    padding-bottom: 5px;
    font-weight: bold;
}
div#calendar, div.calendar{
    border-collapse: collapse;
    /*border-bottom: 1px solid #39C613;*/
}
#calendar div.head {
    /*border-right: 3px solid #34AB14;*/
    height: 3.2em;
}
#calendar .head div.htitle label {
    height: 2.3em;
    background: none repeat scroll 0 0 #34AB14;
    border-left: 1px solid #39C613;
    border-top: 1px solid #34AB14;
    color: #FFFFFF;
    padding: 5px 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    float: left;
}
#calendar .body {
    border-left: 1px solid #39C613;
    border-top: 1px solid #34AB14;
    color: #829F90;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    float: left;
    margin-top: -5px;
    padding: 0 0;
    text-align: center;    
}
.body div.nSolicitud, .body div.sistema, 
.body div.semillera, .body div.productor, 
.body div.dpto, .body div.prov, .body div.municipio, 
.body div.localidad, .body div.comunidad, 
.body div.fecha, .body div.campanha, 
.body div.cultivo, .body div.variedad, 
.body div.cSembrada, .body div.cProducir, 
.body div.cantidadS, .body div.lote, .body div.plantas, 
.body div.cAnterior, .body div.sParcela, 
.body div.categoria, .body div.generacion, 
.body div.semillaNeta, .body div.Sembrada, 
.body div.nroEtiqueta, .body div.rango, 
.body div.sInscrita, .body div.fecha2 {
    border-right: 1px solid #39C613;
    border-bottom: 1px solid #39C613;
    height: 2.5em;
    float: left;
}
.body div.pdf{
    border-right: 1px solid #39C613;
    border-bottom: 1px solid #39C613;
    height: 2.5em;
    float: left;
}
.body div.nSolicitud {
    width: 6em;
    padding-top: 1%;
}
#calendar .body div.sistema {
    width: 7em;
    padding-top: 1%;
}
#calendar .body div.semillera {
    width: 12em;
    padding-top: 1%;
}
#calendar .body div.productor {
    width: 10em;
    padding-top: 1%;
}
#calendar .body div.dpto {
    width: 8.2em;
    padding-top: 1%;
}
#calendar .body div.prov {
    width: 8em;
    padding-top: 1%;
}
#calendar .body div.municipio {
    width: 6.7em;
    padding-top: 1%;
}
#calendar .body div.localidad {
    width: 10em;
    padding-top: 1%;
}
#calendar .body div.comunidad {
    width: 10em;
    padding-top: 1%;
}
#calendar .body div.fecha {
    width: 5.5em;
    padding-top: 1%;
}
/** semilla  **/
#calendar .body div.campanha {
    width: 9em;
    padding-top: 1%;
    float: left;
}
#calendar .body div.cultivo {
    width: 7.6em;
    padding-top: 1%;
    float: left;
}
#calendar .body div.variedad {
    width: 8.5em;
    padding-top: 1%;
    float: left;
}
#calendar .body div.cSembrada {
    width: 10em;
    padding-top: 1%;
    float: left;
}
#calendar .body div.cProducir {
    width: 9em;
    padding-top: 1%;
    float: left;
}
#calendar .body div.cantidadS {
    width: 7.8em;
    padding-top: 1%;
    float: left;
}
#calendar .body div.lote {
    width: 7em;
    padding-top: 1%;
    float: left;
}
#calendar .body div.plantas {
    width: 6em;
    padding-top: 1%;
    float: left;
}
#calendar .body div.cAnterior {
    width: 7em;
    padding-top: 1%;
    float: left;
}
#calendar .body div.sParcela {
    width: 8.6em;
    padding-top: 1%;
    float: left;
}
/** SEMILLA PRODUCIDA*/
.body div.categoria {
    width: 5em;
    padding-top: 1%;
    float: left;
}
.body div.generacion {
    width: 7.5em;
    padding-top: 1%;
    float: left;
}
.body div.semillaNeta {
    width: 7.5em;
    padding-top: 1%;
    float: left;
}
.body div.Sembrada {
    width: 5em;
    padding-top: 1%;
    float: left;
}
.body div.nroEtiqueta {
    width: 7.5em;
    padding-top: 1%;
    float: left;
}
.body div.rango {
    width: 7.5em;
    padding-top: 1%;
    float: left;
}
/**SUPERFICIE**/
#calendar .body div.sInscrita {
    width: 20%;
    padding-top: 1%;
    float: left;
}
/**INSPECCION**/
.body div.rendimiento {
}
#calendar tfoot td {
    padding: 5px;
    border-left: 1px solid #24130F;
    border-bottom: 1px solid #24130F;
}
#calendar tfoot #next {
    border-top: 1px solid #24130F;
    text-align: right;
}
#calendar tfoot #prev {
    border-top: 1px solid #24130F;
}
/* iconos de tabla*/
#switcher {
    border: 1px solid #ABCA01;
    padding: 0.5em;
    position: relative;
    width: 150px;
    left: 77%;
}
/* login */
.post .entry form#registrar div input {
    text-transform: none;
    position: relative;
}
form.login {
    color: #fff;
    font-size: 15px;
    /************************************************
     *  stilo de gradiente
     *  */
    background: rgba(110,152,188,1);
    background: -moz-linear-gradient(top, rgba(110,152,188,1) 2%, rgba(55,91,120,1) 27%, rgba(110,152,188,1) 94%, rgba(110,152,188,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(2%, rgba(110,152,188,1)), color-stop(27%, rgba(55,91,120,1)), color-stop(94%, rgba(110,152,188,1)), color-stop(100%, rgba(110,152,188,1)));
    background: -webkit-linear-gradient(top, rgba(110,152,188,1) 2%, rgba(55,91,120,1) 27%, rgba(110,152,188,1) 94%, rgba(110,152,188,1) 100%);
    background: -o-linear-gradient(top, rgba(110,152,188,1) 2%, rgba(55,91,120,1) 27%, rgba(110,152,188,1) 94%, rgba(110,152,188,1) 100%);
    background: -ms-linear-gradient(top, rgba(110,152,188,1) 2%, rgba(55,91,120,1) 27%, rgba(110,152,188,1) 94%, rgba(110,152,188,1) 100%);
    background: linear-gradient(to bottom, rgba(110,152,188,1) 2%, rgba(55,91,120,1) 27%, rgba(110,152,188,1) 94%, rgba(110,152,188,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e98bc', endColorstr='#6e98bc', GradientType=0 );
    /*************************************************/
    border-radius: 10px;
    box-shadow: rgba(200,200,200,1) 0 4px 18px;
    margin: 0% 34% 0% 37%;
    padding: 3% 1% 4% 3%;
    font-weight: bolder;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    position: relative;
    top: 2em;
}
.post .entry form.nuevo {
    border: 1px solid #cecece;
    border-radius: 10px;
    margin: 2% 17% 12%;
    padding: 3% 2% 4%;
    font-weight: normal;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    position: relative;
    top: 2em;
    padding-bottom: 5%;
}
.post .entry form.nuevoform {
    border: 1px solid #cecece;
    border-radius: 10px;
    font-weight: normal;
    padding: 3% 2% 58%;
    top: 2em;
    width: 100%;
}
.post .entry form.seguimiento {
    border: 1px solid #cecece;
    border-radius: 10px;
    font-weight: normal;
    margin-bottom: 1%;
    padding: 3% 2% 1%;
    top: 2em;
    width: 100%;
}

form > div#ctaRight {
    width: 49%;
    float: left;
}
form > div#ctaRight > div > input.short {
    width: 46%;
}
form > div#ctaRight > div > label.short {
    width: 49%;
}
form > div#ctaLeft {
    width: 50%;
    float: right;
}
form > div#ctaLeft > div > input.short {
    width: 46%;
}
form > div#ctaLeft > div > label.short {
    width: 49%;
}
form.login input#submit.button-primary {
    border-radius: 83px 83px 83px 83px;
    -moz-border-radius: 83px 83px 83px 83px;
    -webkit-border-radius: 83px 83px 83px 83px;
    border: 0px solid #808080;
    color: #808080;
    font-weight: bolder;
    text-transform: uppercase;
    float: right;
    font-size: 11px;
    -khtml-border-radius: 5px;
}
form.login input#submit.button-primary:hover {
    border-radius: 83px 83px 83px 83px;
    -moz-border-radius: 83px 83px 83px 83px;
    -webkit-border-radius: 83px 83px 83px 83px;
    border: 0px solid #8385ab;
    color: #8385ab;
    cursor: pointer;
}
#upass, #ulogin, #uemail {
    font-size: 20px;
    width: 77%;
    margin-right: 6px;
    background: #fbfbfb;
}
#errorU {
    bottom: 1em;
    color: #e5b9c2;
    display: none;
    font-family: serif Times;
    float: inherit;
    height: 9%;
    left: 10%;
    position: absolute;
    top: 54%;
}
#errorP {
    bottom: 1em;
    color: #e5b9c2;
    display: none;
    font-family: serif Times;
    float: inherit;
    height: 9%;
    left: 10%;
    margin-bottom: 16px;
    position: absolute;
    top: 79%;
    width: 69%;
}
/** nueva categoria y generacion*/
.new-categoria-generacion{
    margin-bottom: 1%;
    margin-top: 2%;
    position: relative;
    width: 109%;
}
/* Footer */

#footer {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 0;
    background: #E1E1E1;
}
#footer-bgcontent {
}
#footer p {
    margin: 0;
    padding: 30px 0px 0px 0px;
    text-align: center;
    line-height: normal;
    text-transform: uppercase;
    font-size: 10px;
}
#footer a {
}
/**busqueda personalizada*/
#parametros {
    border: 1px solid;
    height: 4em;
    margin-left: 17%;
    width: 32em;
}
#parametros div {
    float: left;
}
      
/**calculo de saldo anterior*/
.loading {
    display: none;
    position: absolute;
}

/**ingresar resultado de laboratorio*/
.stadoLab a {
    cursor: pointer;
}
.stadoLab a:hover {
    text-decoration: underline;
}
/** scroll para select */
.overflow {
    height: 250px;
}
.overflow-semillera{
    height: 80px;
}
.overflow-municipio{
    height: 100px;
}
.overflow-year {
    height: 100px;
}
.overflow-semilla-cultivo{
    height: 150px;
}

.back-color{/**opcion seleccionada*/
    background-color:#55A54B !important;
    border-radius:19px !important;
}
.back-text-color{
    color: #FFFFFF !important;
    font-weight: bolder !important;
}