/***************************************
   =TABLES
-------------------------------------- */

#full-dates th,
#full-dates td {
  padding: 3px 6px;
  vertical-align: top;
}
#full-dates th {
  text-align: left;
  color: #fff;
}
#full-dates thead th {
  background-color: #26850c;    
}
#full-dates .sortable thead th {
  padding-left: 18px;
}
#full-dates tbody th {
  background-color: #80b744;
  padding-left: 6px;
}
#full-dates .date-column {
  width: 40px;
}
th img {
  float: left;
}

tr.even,
tr.first {
  background-color: #eee;
}
tr.odd,
tr.second {
  background-color: #ddd;
}
tr.third {
  background-color: #ccc;  
}

td.sorted {
	background: #ffd;
}
th.clickable {
  background: transparent url(images/sort-arrows.png) no-repeat 0 0;
}
th.sorted-asc {
 background-position: 0 -20px;
}
th.sorted-desc {
  background-position: 0 -40px;
}

.filtered {
  display: none;
}

/* filterable table */

#full-dates table.filterable {
  width: 78%;
  
}
#full-dates .filters {
 float: right;
 width: 19%;
 padding-left:5px;
}

#full-dates .filterable thead th {
  padding-left: 6px;
}
div.pager {
  margin-bottom: .25em;
}

#full-dates .page-number,
#full-dates .filter {
  padding: .2em;
}
#full-dates .page-number {
  border: 1px solid #ccc;
  margin-right: 2px;
}
#full-dates .active {
  background: #ccf;
  border: 1px solid #006;
}


#full-dates tr.highlight {
  background: #ff6;
}
#full-dates tr.plain {
  background: #fff;
}
#tooltip {
  position: absolute;
  z-index: 2;
  background: #efd;
  border: 1px solid #ccc;
  padding: 3px;
}