/***************************************
 =TABLES
 -------------------------------------- */

#content .th, #content .td {
    padding: 3px 6px;
    vertical-align: top;
    float: left;
    border-bottom: 1px solid #39C613;
    height: 30px;
    width: 6.5em;
}
#content .th {
    background-color: #34ab14;
    /* border: 1px solid yellow;*/
    color: #FFFFFF;
    float: left;
    text-align: left;
    width: 12%;
}

/**
 * coloreado de filas en
 * estado de proceso de certificacion y fiscalizacion  
 */
div.control:nth-child(even) {
    background: #faffee
}
div.control:nth-child(odd) {
    background: #edffd4
}
div.fcontrol:nth-child(even) {
    background: #faffee
}
div.fcontrol:nth-child(odd) {
    background: #edffd4
}
#content .post #calendar#table#thead.th {
    background-color: #15b;
    /* background: none repeat scroll 0 0 #34AB14; */
}
#content .sortable #thead.th {
    padding-left: 18px;
}
#content #table.tbody.th {
    background-color: #39C613;
    padding-left: 6px;
}
#content .date-column {
    width: 9%;
}
.th img {
    float: left;
}
.tr.even, .tr.odd, .tr.evenf, .tr.oddf {
    border-right: 1px solid #39C613;
    border-left: 1px solid #39C613;
}
/**
 * certificacion
 * estilo para filas pares
 * */
.tr.even, .tr.first {
    width: 90.5%;
    float: left;
}
/**
 * fiscalizacion
 * estilo para filas pares
 * */
.tr.evenf, .tr.firstf {
    width: 87%;
    float: left;
}
/**
 * fin fiscalizacion
 *
 * certificacion
 * estilo para filas impares
 * */
.tr.odd, .tr.second {
    width: 90.5%;
    background-color: #F6FFE8;
    float: left;
}
/**
 * /\ fin certificacion /\
 *
 * \/fiscalizacion\/
 * estilo para filas impares
 * */
.tr.evenf{
    border-bottom: 1px solid #39c613;
}
.tr.oddf, .tr.secondf {
    background-color: #f6ffe8;
    border-bottom: 1px solid #39c613;
    float: left;
    width: 87%;
}
/**
 * fin fiscalizacion
 * */
.tr.third {
    background-color: #F6FFE8;
}

.td.sorted {
    background: #ffd;
}
.th.clickable {
    background: transparent url(../images/sort-arrows.png) no-repeat 0 0;
}
.th.sorted-asc {
    background-position: 0 -20px;
}
.th.sorted-desc {
    background-position: 0 -40px;
}

.filtered {
    display: none;
}

/* filterable table */

#content #table.filterable {
    width: 78%;
    /*border: 1px solid;*/
}
#content .filters {
    float: right;
    width: 19%;
    padding-left: 5px;
}

#content .filterable #thead.th {
    padding-left: 6px;
}
div.pager {
    margin-bottom: .25em;
}

#content .page-number, #content .filter {
    padding: .2em;
}
#content .page-number {
    border: 1px solid #ccc;
    margin-right: 2px;
}
#content .active {
    background: #ccf;
    border: 1px solid #006;
}

#content .tr.highlight {
    background: #ff6;
}
#content .tr.plain {
    background: #fff;
}
#tooltip {
    position: absolute;
    z-index: 2;
    background: #efd;
    border: 1px solid #ccc;
    padding: 3px;
}