table.tablesorter {
	font-size: 12px;
	background-color: #FAFFEE;
	width: 1024px;
	border: 1px solid #39C613;
}
table.tablesorter th {
	color:#FFFFFF;
	text-align: left;
	padding: 5px;
	background-color: #34ab14;
}
table.tablesorter td {
	border-bottom: 1px solid #34ab14;
    border-left: 1px solid #34ab14;
    padding: 5px;
    text-align: center;	
}
table.tablesorter .even {
	background-color: #faffee;
}
table.tablesorter .odd {
	background-color: #6E6E6E;
}
table.tablesorter .header {
	height: 2.3em;
    background: none repeat scroll 0 0 #34AB14;
    border-left: 1px solid #39C613;
    border-top: 1px solid #34AB14;
    color: #FFFFFF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}
table.tablesorter .headerSortUp {
	background-image: url(images/asc.png);
	background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
	background-image: url(images/desc.png);
	background-repeat: no-repeat;
}