<div id="agregarComunidad" style="display: none" class="ui-state-error ui-corner-all">
    <div class="cantidades">
        <label>Nombre</label>
    </div>
    <div>
        <input type="text" id="nuevoCultivo" style="text-transform: capitalize"/>
        <span id="mensaje">&nbsp;</span>
    </div>
</div>