<div id="agregarCultivo" style="display: none" class="ui-state-error ui-corner-all">
    <div class="cantidades">
        <label>Nombre</label>
    </div>
    <div>
        <input type="text" id="nuevoCultivo" style="text-transform: capitalize"/>
        <span id="mensaje">&nbsp;</span>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("select#cultivo").selectmenu({
            change : function(event, ui) {
            }
        });
        //carga de variedad de un cultivo
        $("select#cultivo").on("selectmenuchange", function(event, ui) {

            var cultivo = $(this).find(':selected').val();
            switch (cultivo){
                case 'add_cultivo':
                    $("#agregarCultivo").dialog({// Dialog
                    title : 'Agregar nuevo cultivo',
                    dialogClass: "no-close",
                    resizable : false,
                    buttons : {
                        "Agregar" : function() {
                            var newCultivo = $("input#nuevoCultivo").val();                            
                            newCultivo = newCultivo.length ? newCultivo : '';
                            if (newCultivo.length > 0) {        
                            	$("span#mensaje").fadeOut();                        
                                $("select#cultivo").append('<option value="' + newCultivo + '" selected>' + newCultivo + '</option>');
                                $("select#cultivo").selectmenu("refresh");
                                $("input#hiddenCultivo").val(newCultivo);
                                $(this).dialog("close");
                                $(this).dialog("destroy");
                            } else {
                                $("span#mensaje").fadeIn().text("NOMBRE DE CULTIVO INVALIDO");
                            }                            
                        },
                        "Cancelar" : function() {
                            $(this).dialog("close");
                        }
                    }
                });    
                break;
            }             
        });
    });
</script>