<div id="agregarVariedad" style="display: none" class="ui-state-error ui-corner-all">
    <div class="cantidades" style="width: 25%; float:left">
        <label>Cultivo</label>
    </div>
    <div class="valor"  style="width: 65%; float:left">
        <label id="nombreCultivo" ></label>
    </div>
    <div class="cantidades" style="width: 25%; float:left">
        <label>Variedad</label>
    </div>
    <div id="valor"  style="width: 65%; float:left">
        <input type="text" id="nuevaVariedad" style="text-transform: capitalize"/>
        <span id="mensaje" style="margin-top: 1.8em;">&nbsp;</span>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        // mostramos el nombre del cultivo
        $( "#nuevaVariedad" ).focus();
        $("select#variedad").selectmenu({
            change : function(event, ui) {
            }
        });
        //carga de variedad de un cultivo
        $("select#variedad").on("selectmenuchange", function(event, ui) {
            $("label#nombreCultivo").text($("input#hiddenCultivo").val());
            var variedad = $(this).find(':selected').val();            
            switch (variedad) {
                case 'add_variedad':
                    $("input#nombreVariedad").val("");
                    $("#agregarVariedad").dialog({// Dialog
                        title : 'Agregar nueva variedad',
                        dialogClass: "no-close",
                        resizable : false,
                        buttons : {
                            "Agregar" : function() {
                                variedad = $("input#nuevaVariedad").val();
                                variedad = variedad.length ? variedad : '';
                                if (variedad.length > 0) {
                                    $("select#variedad").append('<option value="' + variedad + '" selected>' + variedad + '</option>');
                                    $("select#variedad").selectmenu("refresh");
                                    $("input#hiddenVariedad").val(variedad);
                                    delete variedad;
                                    $("div#agregarVariedad").dialog("close");
                                    $("div#agregarVariedad").dialog("destroy");
                                } else {
                                    $("span#mensaje").fadeIn().text("NOMBRE DE VARIEDAD INVALIDO");
                                    $("span#mensaje").empty();
                                }
                            },
                            "Cancelar" : function() {
                            $(this).dialog("close");
                            }
                        }
                    });
                    break;
                }
            });
    }); 
</script>