<div id="agregarSemillera" style="display: none" class="ui-state-error ui-corner-all">
    <div class="cantidades" style="width: 50%">
        <label>Nombre</label>
    </div>
    <div>
        <input type="text" id="nSemillera" style="text-transform: uppercase"/>
        <span id="mensaje">&nbsp;</span>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#nSemillera").val('').css("text-transform", "uppercase");
        $("select#lstsemillera").selectmenu({
            change : function(event, ui) {
            }
        });
        //carga de variedad de un cultivo
        $("select#lstsemillera").on("selectmenuchange", function(event, ui) {
            var semillera = $(this).find(':selected').val();
            switch (semillera) {
            case 'agregar':
            $("span#mensaje").fadeOut().text("");
                $("#agregarSemillera").dialog({// Dialog
                    title : 'Agregar Semillera',
                    dialogClass: "no-close",
                    height : 200,
                    resizable : false,
                    buttons : [{
                        text : 'Agregar',
                        click : function() {
                            newSemillera = '';
                            newSemillera = $("input#nSemillera").val();

                            newSemillera = newSemillera.length ? newSemillera : '';
                            if (newSemillera.length > 0) {
                                $("select#lstsemillera").selectmenu("destroy");
                                $("select#lstsemillera").prepend('<option value="' + newSemillera + '" selected>' + newSemillera.toUpperCase() + '</option>');
                                $("select#lstsemillera").selectmenu();
                                $("#agregarSemillera").dialog("destroy");
                            } else {
                                $("span#mensaje").fadeIn().text("DEBE ESCRIBIR NOMBRE DE SEMILLERA");
                            }
                            
                            if (newSemillera.length > 0)
                                $("#nSemillera").val('');
                            delete (newSemillera);
                            //$(this).dialog("destroy");
                        }
                    }]
                });
                break;
            }
        });
    }); 
</script>