<div class="entry" style="padding: 0px; margin-left: 0px; width: 108%;">
    <div style="margin-left: 36em;" class="filter">
        <label>Buscar:</label>
        <input id="filter" style="width: 280px;" autocomplete="off">
        <button type="reset" class="btn btn-success">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </div>
</div>