<div class="entry" style="padding: 0px; margin-left: 0px; width: 108%;">
    <div style="float:left">
        <button id="btn-new" class="btn btn-success" type="button">
            Nuevo
        </button>
    </div>
    <div style="margin-left: 36em;" class="filter">
        <label>Buscar:</label>
        <input id="filter" style="width: 280px;" autocomplete="off">
        <span id="search-advice" style="font-size: 9px; font-style: italic; letter-spacing: 0.1em; width: 45%;margin-left: 12%"></span>
    </div>
</div>