<div id="calcularPapa" style="display: none;" class="ui-state-error ui-corner-all">
    <div class="cantidades" style="text-align: left">
        <label style="width:60%;float:left;">Plantas por metro cuadrado</label>
        <input type="text" id="plantas-por-metro" class="number" maxlength="4"/>
    </div>
    <div class="cantidades" style="text-align: left">
        <label style="width:60%;float:left;">Peso de tub&eacute;rculo por planta(kg.)</label>
        <input type="text" id="peso-tuberculo-planta" class="number"  maxlength="5"/>
    </div>
    <div class="cantidades" style="text-align: left">
        <label style="width:60%;float:left;">Cantidad de tub&eacute;rculos por planta</label>
        <input type="text" id="cantidad-tuberculos-plantas" class="number"  maxlength="2"/>
    </div>
</div>