<div id="calcularSoya" style="display: none;" class="ui-state-error ui-corner-all">
    <div class="cantidades" style="text-align: left">
        <label style="width:60%;float:left">Número de granos por vaina</label>
        <input id="granos-vaina" class="number" maxlength="2" type="text">
    </div>
    <div class="cantidades" style="text-align: left">
        <label style="width:60%;float:left">Número de vainas por planta</label>
        <input id="vainas-plantas" class="number" maxlength="2" type="text">
    </div>
    <div class="cantidades" style="text-align: left">
        <label style="width:60%;float:left">Número de plantas por metro cuadrado</label>
        <input id="plantas-hectarea-soya_arveja" class="number" maxlength="2" type="text">
    </div>
    <div class="cantidades" style="text-align: left">
        <label style="width:60%;float:left">Peso de 1000 granos (gramos)</label>
        <input id="peso-granos-soya_arveja" class="number" maxlength="3" type="text">
    </div>
</div>
