<div id="calcularMaiz" style="display: none;" class="ui-state-error ui-corner-all">
    <div class="cantidades" style="text-align: left">
        <label style="width:60%;float:left;">Mazorcas por metro cuadrado </label>
        <input type="text" id="mazorcas-por-metro" class="number" maxlength="1"/>
    </div>
    <div class="cantidades" style="text-align: left">
        <label style="width:60%;float:left;">Granos por mazorca &nbsp; (entre 200 - 400)</label>
        <input type="text" id="granos" class="number"  maxlength="3"/>
    </div>
    <div class="cantidades" style="text-align: left">
        <label style="width:60%;float:left;">Peso de mil granos &nbsp;&nbsp; (entre 150 - 300 gramos)</label>
        <input type="text" id="peso-mil-granos" class="number"  maxlength="3"/>
    </div>
</div>
<!-- 
	calcularRendimientoMaiz : function(mazorcas,granos,peso,resultado)
	-->
