<div id="calcularTrigoCebada" style="display: none;" class="ui-state-error ui-corner-all">
    <div class="cantidades" style="text-align: left">
        <label style="width:60%;float:left;">Distancia entre surcos (cm.)</label>
        <input type="text" id="distanciasurcos-trigo-cebada" class="number" maxlength="4"/>
    </div>
    <div class="cantidades" style="text-align: left">
        <label style="width:60%;float:left;">Cantidad de espigas por metro lineal</label>
        <input type="text" id="espigas-por-metro" class="number"  maxlength="6"/>
    </div>
    <div class="cantidades" style="text-align: left">
        <label style="width:60%;float:left;">Granos por espiga</label>
        <input type="text" id="granos-por-espiga" class="number"  maxlength="6"/>
    </div>
    <div class="cantidades" style="text-align: left">
        <label style="width:60%;float:left;">Peso 1000 granos (entre 32 y 40 gramos)</label>
        <input type="text" id="peso-granos-trigo_cebada" class="number"  maxlength="6"/>
    </div>
    <div class="cantidades" style="text-align: left">
        <label style="width:60%;float:left;">Cantidad de espigas por metro lineal</label>
        <input type="text" id="cantidad-espigas-metro" class="number"  maxlength="6" />
    </div>
    <!--  
    <div class="cantidades" style="text-align: left">
        <label style="width:60%;float:left;">Coeficiente</label>
        <input type="text" id="tbl-coeficiente" class="number not-edit"  maxlength="5" value="0.8"/>
    </div>
    -->
</div>
<!-- 
	calcularRendimientoTrigoCebada : function(distancia,espigas,granos,peso,coeficiente,resultado)
-->