<div id="SemillaEmpleada" style="display: none;" class="ui-state-error ui-corner-all">
    <div class="cantidades" style="text-align: left">
        <label style="width:60%">Superficie Parcela (has.)</label>
    </div>
    <div>
        <input type="text" id="superficieParcela" class="number" maxlength="6" value="0"/>
    </div>
    <div class="cantidades" style="text-align: left">
        <label style="width:60%">Cantidad Semilla Empleada por hectarea(kg.)</label>
    </div>
    <div>
        <input type="text" id="cantidad" class="number"  maxlength="6" value="0"/>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#superficieParcela,#cantidad").numeric(".");    
    });

</script>
