<div id="cantidadParcelas" style="display: none" class="ui-state-error ui-corner-all">    
<label style="font-weight: bold">Semillerista : <span style="font-weight: normal"> </span></label>	
<div class="parcelas">
    <table class="table">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th style="text-align:center">N&uacute;mero Campo</th>
                    <th>Comunidad</th>
                </tr>
            </thead>
            <tbody class="buscar">

            </tbody>
        </table>
</div>
</div>