	<div id="confirmacion" style="display: none" class="ui-state-error ui-corner-all">
		<div>
			<a>
				Los datos seran introducidos en el sistema.Est&aacute; seguro?
			</a>
		</div>
		<div>
			<ul>
				<li>
					<a>
						Presione aceptar para continuar
					</a>
				</li>
				<li>
					<a>
						Presione cancelar para revisar los datos
					</a>
				</li>
			</ul>
		</div>
	</div>