<div id="lst-cuota" style="display: none" class="ui-state-error ui-corner-all">

	<label style="font-weight: bold" class="slr">Semillera : <span style="font-weight: normal"> </span></label>
	<label style="font-weight: bold;width: 75%;" class="smr">Semillerista : <span style="font-weight: normal;"> </span></label>
	<label style="font-weight: bold;width: 50%" class="clt">Cultivo : <span style="font-weight: normal; width: 50%;"> </span></label>
	<label style="font-weight: bold" class="var">Variedad : <span style="font-weight: normal"> </span></label>
	<label style="font-weight: bold" class="sld">Saldo : <span class="total" style="font-weight: normal"> </span> <span class="unidad" style="font-weight: normal">Bs.</span></label>
	<div class="tbl-cuota" style="overflow-y:scroll;height: 35%;border-bottom:medium solid;">
		<table class="table">
			<thead>
				<tr>
					<th style="text-align:center">Fecha</th>
					<th style="text-align:center">Monto (Bs.)</th>
					<th style="text-align:center">Saldo (Bs.)</th>
				</tr>
			</thead>
			<tbody class="buscar">

			</tbody>
		</table>
	</div>	
	<div id="tbl-detalle-cuenta">
		<label>Cuota por: </label>
		<div id="tipos">
			<div id="tipo-cuota">
				<input id="cert" name="cuota" value="certificacion" type="radio" checked="checked"/>
				<label class="" for="cert">Certificacion</label>
				<input id="eti" name="cuota" value="etiquetacion" type="radio"/>
				<label class="" for="eti">Etiquetacion</label>
			</div>
			<div id="tipo-cuota-fiscal" style="display: none">
				<input id="fisc" name="cuota" value="fiscalizacion" type="radio" checked="checked"/>
				<label class="" for="fisc">Fiscalizacion</label>
				<input id="etifisc" name="cuota" value="etiquetacion" type="radio"/>
				<label class="" for="etifisc">Etiquetacion</label>
			</div>
			<label style="margin-left: 40%;">Monto :</label>
			<span style="float:right"> Bs.</span>
			<input id="cuota" class="number" maxlength="6" style="width: 95px;border:1px solid #CECECE;height:20px;float:right" autocomplete="off" type="text" value="0">
		</div>
	</div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("div#tipo-cuota").buttonset();
        $("div#tipo-cuota-fiscal").buttonset();
    }); 
</script>