<div id="detalle-resumen" style="display: none" class="ui-state-error ui-corner-all">
	
	<table id="myTable" class="tablesorter">
		<thead>
			<tr>
				<th>Provincia</th>
				<th>Municipio</th>
				<th>Comunidad</th>
				<th>Semillera</th>
				<th>Semillerista</th>
				<th>Cultivo</th>
				<th>Variedad</th>
                <th>Categorias</th>
				<th>Superficies</th>
				<th>Superficie Produccion</th>				
			</tr>
		</thead>

		<tbody class="buscar">
			<tr>
				<td class="prv">Nor Cinti</td>
				<td class="mcp">Villa Charcas</td>
				<td class="cmd">Jolencia</td>

				<td class="smr">TREBOL</td>
				<td class="slr">Pedro Villa</td>
				<td class="cul">Haba</td>
				<td class="vrd">Pairumani-1</td>

				<td class="supi">1.00</td>
				<td class="suprc">0.00</td>
				<td class="suprt">0.00</td>
			</tr>
			<tr>
				<td class="prv">Sur Cinti</td>
				<td class="mcp">Culpina</td>
				<td class="cmd">Yuquina</td>

				<td class="smr">CPAY</td>
				<td class="slr">Rene Canasi</td>
				<td class="cul">Ajo</td>
				<td class="vrd">Gostoso</td>

				<td class="supi">0.5</td>
				<td class="suprc">0.2</td>
				<td class="suprt">0.1</td>
				
			</tr>
			<tr>
				<td class="prv">Tomina</td>
				<td class="mcp">Villa Alcala</td>
				<td class="cmd">Waca Waca</td>

				<td class="smr">PASOS</td>
				<td class="slr">Orlando Rejas</td>
				<td class="cul">Papa</td>
				<td class="vrd">Desiree</td>

				<td class="supi">2</td>
				<td class="suprc">1.1</td>
				<td class="suprt">0</td>
			</tr>
			<tr>
				<td class="prv">Zudañez</td>
				<td class="mcp">Mojocoya</td>
				<td class="cmd">Naunaca</td>
				<td class="smr">APROSENA</td>
				<td class="slr">Luciano Ramos</td>
				<td class="cul">papa</td>
				<td class="vrd">Huaycha</td>

				<td class="supi">4</td>
				<td class="suprc">2</td>
				<td class="suprt">0.01</td>
			</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#myTable").tablesorter();
        $.funciones.alternarColoresTabla("myTable");
    });
</script>
<script type="text/javascript">
    $(document).ready(function() {
        //buscar en los numeros de solicitudes y semilleras
        $('input#filter').on("keyup", function() {
            var rex = new RegExp($(this).val(), 'i');
            $('.buscar tr').hide();
            $('.buscar tr').filter(function() {
                return rex.test($(this).text());
            }).show();

        });
    }); 
</script>