<div id="view-opciones-semilla" style="left: 35%;position: absolute;top:26%;width: 80%;">
	<input type="radio" id="semilla-cultivo" name="semilla" value="1"  checked="checked" />
	<label for="semilla-cultivo" style="width: 5%">Cultivo</label>
	<input type="radio" id="semilla-acondicionamiento" name="semilla" value="2"/>
	<label for="semilla-acondicionamiento" style="width: 11%;">Acondicionamiento</label>
	<input type="radio" id="semilla-plantines" name="semilla" value="3"/>
	<label for="semilla-plantines" style="width: 7%;">Plantines</label>
</div>
