<div id="resultado-grafico" style="display: none;" class="ui-state-error ui-corner-all">
    <img id="grafico" height="245" width="475"/>
	<div style="display: none;" id="prv">
		<label style="font-weight:bolder;margin-left:0;">Provincia : <span id="prv" style="font-weight:normal"></span></label>
	</div>
	<div style="display: none;" id="mcp">
		<label style="font-weight:bolder;margin-left:0%;">Municipio : <span id="mcp" style="font-weight:normal"></span></label>
	</div>
	<div style="display: none;" id="slr">
		<label style="font-weight:bolder;margin-left:0;">Semillera : <span id="slr" style="font-weight:normal"></span></label>
	</div>
	<div style="display: none;" id="smr">
		<label style="font-weight:bolder;margin-left:0%;">Semillerista : <span id="smr" style="font-weight:normal"></span></label>
	</div>
</div>