<div id="plantasPorHa" style="display: none" class="ui-state-error ui-corner-all">
	<div class="cantidades" style="float: left;width: 14em;text-align: left">
		 <label style="width: 97%;">N&uacute;mero de plantas por metro del surco</label>
	</div>
	<div>
		<input type="text" id="nroplantas" class="number" maxlength="5" value="0" size="5"/>
	</div>
	<div style="width:20em">&nbsp;</div>
	<div class="cantidades" style="float: left;width: 14em;text-align: left">
		<label style="width: 99%;">Distancia entre surcos (metros)</label>
	</div>
	<div style="float: left">
		<input id="distanciasurcos" class="number" type="text" size="5" maxlength="5" value="0"/>
	</div>
	<div style="margin-bottom: 1em;width:20em">&nbsp;</div>
	<div class="cantidades"  style="float: left;width: 13em;text-align: left">
		<label>Medida</label>
	</div>
	<div  style="float: left">
		lineal
		<input id="boleo" type="radio" name="medida" checked="checked"  style="float:none;width:0">
		m&sup2;
		<input id="mcuadrado" type="radio" name="medida" value="10000"  style="float:none;width:0">
	</div>
</div>