<div id="precioCertifica" style="display: none;z-index:1000; " class="ui-state-error ui-corner-all">
	<div id = "nombreSLR" style="width: 75%; float:left; text-align: center; width: 103%;">
		<label style="font-weight: bolder;">Precios por Hect&aacute;rea <br> <span style="font-weight:normal;font-size:10px"> (expresado en Bolivianos)</span></label>
		<span id="precios" ></span>
	</div>
	<div class="tbl-precios-certifica">
		<table class="table">
			<thead>
				<tr>
					<th style="text-align:center">Costo por</th>
					<th style="text-align:center">Precio</th>
				</tr>
			</thead>
			<tbody class="buscar">
            	
			</tbody>
		</table>
	</div>
</div>