<div id="regFiscaliza" style="display: none" class="ui-state-error ui-corner-all">
    <div class="cantidades" style="width: 25%; float:left">
        <label style="font-weight: bolder;">Semillera:</label>
    </div>
    <div class="nombreSLR"  style="width: 65%; float:left">
        <label id="rsemillera" ></label>
    </div>
    <div class="cantidades" style="width: 25%;float:left;">
        <label style="font-weight: bolder;">Semillerista:</label>
    </div>
    <div id="nombreSRT">
        <label id="rsemillerista"></label>
    </div>
    <div id="tabs">
        <ul style="float:left;!important">
            <li>
                <a class="text-color" href="#reg-solicitud">Solicitud</a>
            </li>
            <li>
                <a class="text-color" href="#reg-semilla">Semilla sembrada</a>
            </li>
            <li>
                <a class="text-color" href="#reg-cosecha">Hoja de Cosecha</a>
            </li>
            <li>
                <a class="text-color" href="#reg-laboratorio">Laboratorio</a>
            </li>
            <li>
                <a class="text-color" href="#reg-producida">Semilla Producida</a>
            </li>
        </ul>
        <div id="reg-solicitud">
            <div>
                <label style="font-weight: bolder; width: 28%;">Nro. solicitud</label><span class="rnosol"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 28%;">Departamento</label><span class="rdepto"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 28%;">Provincia</label><span class="rprov"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 28%;">Municipio</label><span class="rmun"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 28%;">Comunidad</label><span class="rcom"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 28%;">Fecha solicitud</label><span class="rfsol"></span>
            </div>
        </div>
        <div id="reg-semilla">
            <div>
                <label style="font-weight: bolder; width: 30%;">Comunidad</label><span class="rcom"></span>
            </div>
            
            <div>
                <label style="font-weight: bolder; width: 30%;">Cultivo</label><span class="rcultivo"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 30%;">Variedad</label><span class="rvariedad"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 30%;">Nro. Lote</label><span class="rlote"></span>
            </div>
        </div>


        <div id="reg-cosecha">
            <div>
                <label style="font-weight: bolder; width: 40%;">Cultivo</label><span class="rcultivo"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 40%;">Planta Acondicionadora</label><span class="rplantaa"></span>
            </div>
        </div>
        <div id="reg-laboratorio">
            <div>
                <label></label>
            </div>
            <div>
                <label></label>
            </div>
            <div>
                <label></label>
            </div>
            <div>
                <label></label>
            </div>
            <div>
                <label></label>
            </div>
            <div>
                <label></label>
            </div>
            <div>
                <label></label>
            </div>
            <div>
                <label></label>
            </div>
            <div>
                <label></label>
            </div>
        </div>
        <div id="reg-producida">
            <div>
                <label style="font-weight: bolder; width: 25%;">Nro campo</label><span class="rnocampo"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Semilla neta</label><span class="rsemNeta"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 32%;">Categoria obtenida</label><span class="rproducir"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Nro etiquetas</label><span class="rnoetiquetas"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 30%;">Rango etiquetas</label><span class="rrango">-</span>
            </div>
        </div>        
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#tabs").tabs();
        $("a").css('color', 'FFFFFF');
        $("#tabs>div>label").css('font-weight','bolder');
        
    });

</script>