<div id="regCertifica" style="display: none;z-index:1000; " class="ui-state-error ui-corner-all">
    <div id = "nombreSLR" style="width: 75%; float:left">
        <label style="font-weight: bolder;">Semillera :</label>
        <span id="rsemillera" ></span>
    </div>
    <div id = "nombreSMR" style="width: 75%;">
        <label style="font-weight: bolder;">Semillerista :</label>
        <span id="rsemillerista"></span>
    </div>
    <div id="tabs">
        <ul style="float:left;!important">
            <li>
                <a class="text-color" href="#reg-solicitud">Solicitud</a>
            </li>
            <li>
                <a id="lbl-reg-semilla" class="text-color" href="#reg-semilla">Semilla sembrada</a>
            </li>
            <li>
                <a id="lbl-reg-superficie" class="text-color" href="#reg-superficie">Superficie</a>
            </li>
            <li>
                <a id="lbl-reg-inspeccion" class="text-color" href="#reg-inspeccion">Inspeccion</a>
            </li>
            <li>
                <a id="lbl-reg-hoja_cosecha" class="text-color" href="#reg-hoja_cosecha">Hoja de Cosecha</a>
            </li>
            <li>
                <a id="lbl-reg-laboratorio" class="text-color" href="#reg-laboratorio">Laboratorio</a>
            </li>
            <li>
                <a id="lbl-reg-semilla_producida" class="text-color" href="#reg-producida">Semilla Producida</a>
            </li>
            <li>
                <a id="lbl-reg-cuenta" class="text-color" href="#reg-cuenta">Cuenta</a>
            </li>
        </ul>
        <div id="reg-solicitud">
            <div style="margin-top: 25px;">
                <label style="font-weight: bolder; width: 25%;">Nro. solicitud</label><span class="rnosol"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Departamento</label><span class="rdepto"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Provincia</label><span class="rprov"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Municipio</label><span class="rmun"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Comunidad</label><span class="rcom"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Fecha Solicitud</label><span class="rfsol"></span>
            </div>
        </div>
        <div id="reg-semilla">
            <div style="margin-top: 25px;">
                <label style="font-weight: bolder; width: 30%;">Comunidad</label><span class="rcom"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 30%;">Nro campo</label><span class="rnocampo"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 30%;">Campaña</label><span class="rcampanha"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 30%;">Cultivo</label><span class="rcultivo"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 30%;">Variedad</label><span class="rvariedad"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 33%;">Categoria Sembrada</label><span class="rsembrada"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 33%;">Categoria producir</label><span class="rproducir"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 33%;">Cantidad de Semilla</label><span class="rcantidad"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 33%;">Fecha Siembra</label><span class="rfsiembra"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 33%;">Plantas por Hectarea</label><span class="rplantas"></span>
            </div>
        </div>
        <div id="reg-superficie">
            <div style="margin-top: 25px;">
                <label style="font-weight: bolder; width: 25%;">Nro campo</label><span class="rnocampo"><span>(Ha.)</span></span></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Inscrita</label><span class="rinscrita"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Rechazada</label><span class="rrechazada"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Retirada</label><span class="rretirada"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Aprobada</label><span class="raprobada"></span>
            </div>
        </div>
        <div id="reg-inspeccion">
            <div style="margin-top: 25px;">
                <label style="font-weight: bolder; width: 25%;">Nro campo</label><span class="rnocampo"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 35%;">Observacion</label><span class="robsvegetativa"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 35%;">Inspeccion Vegetativa</label><span class="rvegetativa"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 35%;">Observacion</label><span class="robsfloracion"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 35%;">Inspeccion Floracion</label><span class="rfloracion"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 35%;">Observacion</label><span class="robscosecha"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 35%;">Inspeccion Pre-cosecha</label><span class="rcosecha"></span>
            </div>            
        </div>
        <div id="reg-hoja_cosecha">
            <div style="margin-top: 25px;">
                <label style="font-weight: bolder; width: 40%;">Nro. campo</label><span class="rnocampo"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 40%;">Emision</label><span class="rfemision"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 40%;">Categoria Campo</label><span class="rcatcampo"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 40%;">Rendimiento Estimado</label><span class="restimado"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 40%;">Superficie Parcela</label><span class="rparcela"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 40%;">Rendimiento Campo</label><span class="rrendcampo"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 40%;">Nro cupones</label><span class="rcupones"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 40%;">Planta Acondicionadora</label><span class="rplantaa"></span>
            </div>
        </div>
        <div id="reg-laboratorio">
            <div style="margin-top: 25px;">
                <label style="font-weight: bolder; width: 25%;">N&uacute;mero campo</label><span class="rnocampo"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">N&uacute;mero Analisis</label><span class="rnoanalisis"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Fecha Recepcion</label><span class="rfecharecepcion"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Fecha Resultado</label><span class="rfecharesultado"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Origen</label><span class="rorigen"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Pureza</label><span class="rpureza"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Germinacion</label><span class="rgerminacion"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Humedad</label><span class="rhumedad"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Observacion</label><span class="robservacion"></span>
            </div>
        </div>
        <div id="reg-producida">
            <div style="margin-top: 25px;">
                <label style="font-weight: bolder; width: 25%;">Nro campo</label><span class="rnocampo"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 32%;">Categoria Sembrada</label><span class="rsembrada"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Generacion</label><span class="rgeneracion"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Semilla Neta</label><span class="rsemNeta"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 32%;">Categoria Obtenida</label><span class="rproducir"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Nro etiquetas</label><span class="rnoetiquetas"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Rango etiquetas</label><span class="rrango">-</span>
            </div>
        </div>
        <div id="reg-cuenta">
            <div style="margin-top: 25px;">
                <label style="font-weight: bolder; width: 25%;">Responsable</label><span class="rresponsable"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Campa&ntilde;a</label><span class="rcampanha"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Cultivo</label><span class="rcultivo"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Variedad</label><span class="rvariedad"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 30%;">Categoria Aprobada</label><span class="rproducir"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 30%;">Superficie Aprobada</label><span class="raprobada"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Inscripci&oacute;n</label><span class="rcinscripcion"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Inspecci&oacute;n</label><span class="rcinspeccion"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Analisis</label><span class="rcanalisis"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 30%;">Acondicionamiento</label><span class="rcacondicionamiento"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Plantines</label><span class="rcplantines"></span>
            </div>
            <div>
                <label style="font-weight: bolder; width: 25%;">Fecha</label><span class="rfcuenta"></span>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#tabs").tabs();
        $("a").css('color', 'FFFFFF');
        $("#tabs>div>label").css('font-weight','bolder');
        var tabs = $("div#tabs>ul:first").children("li").size();
    });

</script>