<div id="lst-semilleras-comunidades-superficie" style="display: none" class="ui-state-error ui-corner-all">
    <div>
        <input id="filter" style="width: 200px;border:1px solid #CECECE;height:20px" autocomplete="off">
        <button type="reset" class="btn btn-success">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </div>
    <label style="font-weight: bold">Semillerista: <span style="font-weight: normal"> </span></label>
    <div class="tbl-semillera-comunidad-superficie">
        <table class="table">
            <thead>
                <tr id="th-semillera-productor">
                    <th>&nbsp;</th>
                    <th style="text-align:center;">N&uacute;mero Solicitud</th>
                    <th style="text-align:center;">Semillera</th>
                    <th style="text-align:center;">Comunidad</th>                                     
                    <th style="text-align:center;">Cultivo</th>
                    <th style="text-align:center;">Variedad</th>                    
                </tr>
            </thead>
            <tbody class="buscar">

            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        //buscar en los numeros de solicitudes y semilleras
        $('input#filter').on("keyup", function() {
            var rex = new RegExp($(this).val(), 'i');
            $('.buscar tr').hide();
            $('.buscar tr').filter(function() {
                return rex.test($(this).text());
            }).show();

        });

    }); 
</script>