<div id="lst-semilleras-comunidades-semilla" style="display: none" class="ui-state-error ui-corner-all">
    <div>
        <input id="filter" style="width: 200px;border:1px solid #CECECE;height:20px" autocomplete="off">
        <button type="reset" class="btn btn-success">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </div>
    <label style="font-weight: bold" class="slr">Semillera: <span style="font-weight: normal"> </span></label>
    <div class="tbl-semillera-comunidad-semilla">
        <table class="table">
            <thead>
                <tr id="th-semillera-productor">
                    <th>&nbsp;</th>
                    <th>N&uacute;mero Solicitud</th>
                    <th>Semillerista</th>
                    <th>Comunidad</th>       
                    <!--             
                    <th id="th-cultivo" style="text-align:center;display: none">Cultivo</th>
                    <th id="th-variedad" style="text-align:center;display: none">Variedad</th>
                    -->
                </tr>
            </thead>
            <tbody class="buscar">

            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        //buscar en los numeros de solicitudes y semilleras
        $('input#filter').on("keyup", function() {
            var rex = new RegExp($(this).val(), 'i');
            $('.buscar tr').hide();
            $('.buscar tr').filter(function() {
                return rex.test($(this).text());
            }).show();

        });

    }); 
</script>