<div id="nosolicitudescertifica" style="display: none" class="ui-state-error ui-corner-all">
    <div>
        <input id="filter" style="width: 200px;border:1px solid #CECECE;height:20px" autocomplete="off">
        <button type="reset" class="btn btn-success">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </div>
    <label class="nosoli" style="font-weight: bold" >N&uacute;mero Solicitud : <span style="font-weight: normal"> </span></label>
    <label class="slr" style="font-weight: bold; float: left; width: 92%;">Semillera : <span style="font-weight: normal"> </span></label> 
    <div class="lst-nosolicitud-certifica">
        <table class="table">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Semillerista</th>
                    <th>Comunidad</th>
                    <th id="no-nro-superficie">N&uacute;mero Solicitud</th>
                    <th>Cultivo</th>
                    <th>Variedad</th>
                </tr>
            </thead>
            <tbody class="buscar">

            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        //buscar en los numeros de solicitudes y semilleras
        $('input#filter').on("keyup", function() {
            var rex = new RegExp($(this).val(), 'i');
            $('.buscar tr').hide();
            $('.buscar tr').filter(function() {
                return rex.test($(this).text());
            }).show();

        });

    }); 
</script>