<div id="lst-cuenta-vrd" style="display: none" class="ui-state-error ui-corner-all">
    <div style="margin-left:43%;">
        <input id="filter" style="width: 220px;border:1px solid #CECECE;height:20px" autocomplete="off">
        <button type="reset" class="btn btn-success">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </div>
    <label style="font-weight: bold" class="vrdd">Variedad : <span style="font-weight: normal"> </span></label>
    <div class="tbl-cuenta-vrd">
        <table class="table">
            <thead>
                <tr>
                    <th style="text-align:center">&nbsp;</th>
                    <th style="text-align:center">Comunidad</th>
                    <th style="text-align:center">Semillera</th>
                    <th style="text-align:center">Semillerista</th>
                    <th style="text-align:center">Campa&ntilde;a</th>
                    <th style="text-align:center">Cultivo</th>
                </tr>
            </thead>
            <tbody class="buscar">

            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        //buscar en los numeros de solicitudes y semilleras
        $('input#filter').on("keyup", function() {
            var rex = new RegExp($(this).val(), 'i');
            $('.buscar tr').hide();
            $('.buscar tr').filter(function() {
                return rex.test($(this).text());
            }).show();
        });

    }); 
</script>