<div id="semillaNeta" style="display: none" class="ui-state-error ui-corner-all">
	<div class="cantidades" style="float: left;width: 14em;text-align: left">
		 <label style="width: 97%;">N&uacute;mero de Etiquetas</label>
	</div>
	<div>
		<input type="text" id="nroetiquetas" class="number" maxlength="3" size="5"/>
	</div>
	<div style="width:20em">&nbsp;</div>
	<div class="cantidades" style="float: left;width: 14em;text-align: left">
		<label style="width: 83%;">Capacidad de bolsa (entre 30 Kg, a 75 Kg.)</label>
	</div>
	<div style="float: left">
		<input id="capacidad" class="number" type="text" size="5" maxlength="5"/>
	</div>
	<div style="margin-bottom: 1em;width:20em">&nbsp;</div>
	<div style="margin-bottom: 1em;width:20em">&nbsp;</div>
	<div class="cantidades" style="width: 14em;text-align: left">
		<label>Total semilla Neta</label>
	</div>
	<div  style="float: left">
		<input id="total" class="total not-edit" type="hidden" style="float:right" readonly="readonly"/>
		<button id="calcular-semilla-neta" class="btn btn-success">
            Calcular
        </button>
	</div>
</div>
<script>
    $(document).ready(function(){
        $("input#nroetiquetas,input#capacidad").numeric();
        $("input#capacidad").on("blur",function(){
            if ($(this).val()<30 || $(this).val()>75){
                $(this).val(40);
            }
        });
    });
</script>