<div id="advertencia" class="ui-widget" style="display:none">
    <div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;width: 35em">
        <p style="color:#949494">
            <span class="ui-icon ui-icon-circle-check" style="float: left; margin-right: .3em; margin-top: 0.5em;"></span>
            Solicitud registrada exitosamente!!!
        </p>
    </div>
</div>
