<div id="exito" class="ui-widget" style="display:none">
    <div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;width: 35em">
        <p style="color:#949494" class="mensaje">            
            <span class="ui-icon ui-icon-circle-check"></span>
            <span class="msg"> </span>
        </p>
    </div>
</div>
