<div id="previous-info" style="margin-left:65%;display:none;">
	<button class="btn btn-success" type="button" id="pdf">
		<span class="fa fa-file-pdf-o" style="font-size:36px;color:red;"></span>
		PDF
	</button>
	<button class="btn btn-success" type="button" id="xls">
		<span class="fa fa-file-excel-o" style="font-size:36px;color:green;"></span>
		EXCEL
	</button>
</div>
<script type="text/javascript">
    $(document).ready(function() {        
        $('button#pdf ').on('click', function () {
        	/*
		  informe = $('#gestiones').val();
		  desde = $('input.f_desde').val();
		  hasta = $('input.f_hasta').val();
		  gestion = $('select#gestion').find(':selected').val();
		  
		  if (desde != '') {
		  	if (cultivo == '')
		    	var win = window.open('control/index.php?mdl=busqueda&opt=pdf&pag=' + informe + '&sistema=2&gestion=' + gestion + '&desde=' + desde + '&hasta=' + hasta, '_blank');
		    else{
		    	cultivo = $("select#cultivo").find(":selected").val(); 
		    	var win = window.open('control/index.php?mdl=busqueda&opt=pdf&pag=' + informe + '&sistema=2&gestion=' + gestion + '&desde=' + desde + '&hasta=' + hasta+'&cultivo='+cultivo, '_blank');
		    }
		    win.focus();
		  } else {
		    $('.alert>label').empty().append('Fecha invalida');
		    $('.alert').show().fadeOut(3000);
		  }
		  */
		});
        
        $("button#xls").on("click",function(){
        	
        });

    }); 
</script>