<div class="following-left" >
<table class="table">
		<tbody class="buscar" style="border-top: 1px solid #faffee">
			<tr>
				<td style="width: 2%; font-weight: bolder; text-align: right;">N&Uacute;MERO SOLICITUD</td>
				<td class="tbl-nosolicitud-fiscal" style="width: 3%;"></td>
				<td style="width: 1%; font-weight: bolder; text-align: right;">COMUNIDAD</td>
				<td class="tbl-comunidad-fiscal" style="width: 3%;"></td>

			</tr>
			<tr>
				<td style="width: 1%; font-weight: bolder; text-align: right;">SEMILLERA</td>
				<td class="tbl-semillera-fiscal" style="width: 3%;"></td>
				<td class="tbl-cultivo_title-fiscal"style="width: 1%; font-weight: bolder; text-align: right;">CULTIVO</td>
				<td class="tbl-cultivo-fiscal" style="width: 6%;"></td>
			</tr>
		    <tr>
				<td style="width: 1%; font-weight: bolder; text-align: right;">SEMILLERISTA</td>
				<td class="tbl-semillerista-fiscal" style="width: 3%;"></td>
				<td class="tbl-variedad_title-fiscal" style="width: 1%; font-weight: bolder; text-align: right;">VARIEDAD</td>
				<td class="tbl-variedad-fiscal" style="width: 6%;"></td>			
			</tr>
		</tbody>
	</table>	
</div>
