<div id="anteriores">
    <div>
        <label>Semillera: </label>
        <select size="1" name="semillera" id="semillera" class="special">
            <option value="">[ Seleccione semillera ]</option>
        </select>
    </div>
    <div class="semilleristas">
        <label>Semillerista: </label>
        <select id="productor" name="productor" disabled="disabled" class="special">
            <option value="">[ Seleccione semillerista ]</option>
        </select>
    </div>
</div>