<div id="anteriores" class="table-responsive">
	<table class="table">
		<tbody class="buscar" style="border-top: 1px solid #faffee">
			<tr>
				<td style="width: 2%; font-weight: bolder; text-align: right;">N&Uacute;MERO SOLICITUD</td>
				<td class="tbl-nosolicitud" style="width: 3%;"></td>
				<td style="width: 1%; font-weight: bolder; text-align: right;">SEMILLERA</td>
				<td class="tbl-semillera" style="width: 3%;"></td>

			</tr>
			<tr>
				<td style="width: 1%; font-weight: bolder; text-align: right;">SEMILLERISTA</td>
				<td class="tbl-semillerista" style="width: 3%;"></td>
				<td style="width: 1%; font-weight: bolder; text-align: right;">COMUNIDAD</td>
				<td class="tbl-comunidad" style="width: 6%;"></td>
			</tr>
		    <tr id="cultivo-hoja-cosecha" style="display:none">
				<td style="width: 1%; font-weight: bolder; text-align: right;">Cultivo</td>
				<td class="tbl-cultivo-hoja-cosecha" style="width: 3%;" colspan="3"></td>				
			</tr>
		</tbody>
	</table>
</div>