<div id="anteriores" class="table-responsive">
	<table class="table">
		<tbody class="buscar" style="border-top: 1px solid #faffee">
			<tr>
				<td style="width: 2%; font-weight: bolder; text-align: right;">N&Uacute;MERO SOLICITUD</td>
				<td class="tbl-nosolicitud" style="width: 3%;"></td>
				<td style="width: 1%; font-weight: bolder; text-align: right;">SEMILLERA</td>
				<td class="tbl-semillera" style="width: 3%;"></td>
				<td style="width: 1%; font-weight: bolder; text-align: right;">SEMILLERISTA</td>
				<td class="tbl-semillerista" style="width: 3%;"></td>
			</tr>
			<tr>				
				<td style="width: 1%; font-weight: bolder; text-align: right;">COMUNIDAD</td>
				<td class="tbl-comunidad" style="width: 6%;"></td>
				<td style="width: 1%; font-weight: bolder; text-align: right;">CULTIVO</td>
				<td class="tbl-cultivo" style="width: 6%;"></td>
				<td style="width: 1%; font-weight: bolder; text-align: right;">VARIEDAD</td>
				<td class="tbl-variedad" style="width: 6%;"></td>
			</tr>
			<tr id="tr-no-superficie">
				<td style="width: 1%; font-weight: bolder; text-align: right;" colspan="2">N&uacute;mero Campo</td>
				<td class="tbl-nocampo" style="width: 6%;"></td>
				<td style="width: 1%; font-weight: bolder; text-align: left;"colspan="3">Fecha Siembra 
				<span class="tbl-fecha-siembra" style="font-weight: normal"></span>					
				</td>
			</tr>
		</tbody>
	</table>
</div>
<hr style="margin-left:-0.5%;margin-top:-3%;color:#ddd;border-width: 1px;" width="100%" align="center">